<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <title>Nouveau produit</title>
</head>
<body>
<div align="center">
    <h1>Nouveau produit</h1>

    <form action="#" th:action="@{/save}" th:object="${product}" method="post">
        <table border="0" cellpadding="10" class="table table-dark">
            <tr>
                <td>Désignation:</td>
                <td><input type="text" th:field="*{nom}"/></td>
            </tr>
            <tr>
                <td>Marque:</td>
                <td><input type="text" th:field="*{marque}"/></td>
            </tr>
            <tr>
                <td>Origine :</td>
                <td><input type="text" th:field="*{origine}"/></td>
            </tr>
            <tr>
                <td>Prix:</td>
                <td><input type="text" th:field="*{prix}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Enregistrer</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>